<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag 'photo.jpg' %>
	</div>

	<div id="content">
		<h1>Hey AZB</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit porro, sunt aspernatur atque ratione, laudantium alias, ex eum dicta, incidunt expedita totam aperiam suscipit accusantium molestiae! Quod ea fuga, tempora!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nobis adipisci, animi repellat? Facere rerum, natus error placeat, doloremque molestiae repellat, incidunt doloribus, omnis pariatur dolor dignissimos nemo tempore repudiandae!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident amet perspiciatis possimus facere nesciunt voluptatem nostrum minima, voluptate porro, quo nemo. Tenetur temporibus saepe dicta itaque eligendi ut, doloribus adipisci.</p>
	</div>
</div>